.header {
    background-color:#F3D3BD;
    padding: 5px;
    border: 5px solid #5B85AA;
    border-radius: 20px;
}
h2 {
    text-align:center;
    font-size:30px;
}
h1 {
    text-align: center;
}
h1 {
    background-color:#5B85AA;
}
p {
    font-size: 25px;
    padding: 6px;
    border: 6px solid #E8E9EB;
    color: #101419;
}
h1 {
    padding: 5px;
    border: 5px solid #EACDC2;
}

p {
    color:272635
}

a{
    font-size: 40px;
}